[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pinhook = "*"
bcp47 = "*"
requests = "*"
beautifulsoup4 = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
